<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sudoku Savvy</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Sudoku Savvy</h1>

    <div class="homepage-buttons">
        <button onclick="window.location.href='/solver'">Puzzle Solver</button>
        <button onclick="window.location.href='/generator'">Puzzle Generator</button>
    </div>
</body>
</html>

